# Build dosyalar
build/

# Geliştirme notlar
dev-notes/

# Özel veri dosyalar
src/data/custom/

# Node.js modülleri
node_modules/

# Vercel deployment klasörü
.vercel/

# Cache dosyaları
.cache/

# Ortam değişkenleri
.env
